@font-face {
    font-family: BrittanySignature;
    src: url(BrittanySignature.ttf);
}
@font-face {
    font-family: DeriviaRegular;
    src: url(Derivia-Regular.otf);
}
@font-face {
    font-family: ObjectivityMedium;
    src: url(Objectivity-Medium.otf);
}

* {
    margin: 0;
    padding: 0;
}
* {
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
}
a {
    text-decoration: none;
}

.main{
    height: 100%;
    background-color: #303033;
    max-width: 150rem;
    min-width: 500px;
    display: grid;
    padding: 0 1em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 100vh) 1fr;
}

.main .home-section{
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 120px 1fr;
    
}
.main .home-section .nav-main{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}
.main .home-section .nav-main .left-container{
    display: flex;
    list-style-type: none;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 249, 249);
    padding-top: 5px;
    padding-bottom: 5px;
}
.main .home-section .nav-main .left-container li a{
    font-size: 16px;
    margin: 0 50px;
    padding: 0px 10px;
}

.main .home-section .nav-main .menu-container{
    display: flex;
    align-items: center;  
    padding: 0;
    list-style-type: none;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 253, 253);
    padding-top: 5px;
    padding-bottom: 5px;
}
.main .home-section .nav-main .menu-container li a{
    font-size: 16px;
    margin: 0 50px;
    padding: 0px 10px;
    
}
/* Hero */
video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    
}
.content{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    z-index: 1;
    height: 500px;
}
.content h1{
    font-family: BrittanySignature, cursive;
    font-size: 100px;
    color: white;
    font-weight: 100;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

/* SECOND SECTION */

.intro-section{
    margin-top: 25px;
    display: grid;
    gap: 1 rem;
    grid-template-columns: 35% 2% 30% 30%;
}
.intro-section-left{
    margin-top: 70px;
    margin-left: 20px;
}
.intro-section-divider{
    height: 700px;
    border-left: 1px solid white;
    width: 50px
}
.intro-section-right{
    justify-content: center;
    height: 100%;
    width: 100%;
}
.intro-section-r{
    margin-left: 10px;
    margin-top: 80px;
    height: 100%;
    width: 100%;
}

.intro-section-left h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
    font-size: 60px;
    position: relative;
    font-weight: normal;
}
h2::before{
    content: "The Filmmakers";
    position: absolute;
    width: 0%;
    height: 50%;
    overflow: hidden;
    color: #303033;
    transition: 1s ease-in-out;
}
h2:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 50px rgb(245, 245, 245));
}

.intro-section-left p{
    font-family: Martel, cursive;
    color: #FFFFFF;
    padding-right: 100px;
    font-size: 20px;
    text-align: justify;
}

.intro-section-right h3{
    margin-top: 50px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.intro-section-right p{
    color: #FFFFFF;
    font-size: 18px;
    font-style: italic;
    text-align: justify;
}
.image1{
    object-fit: cover;
    box-shadow: 16px 14px 18px black;
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;
}
.image2{
    box-shadow: 16px 14px 18px black;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.intro-section-left button{
    width: 200px;
    height: 60px;
    background-color: #766b87;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-style: normal;
    color: white;
    border: none;
}

/* THIRD SECTION */

.portfolio-section{
    background-color: #303033;
    
}
.lines{
    width: 100%;
    height: 45px;
    position: relative;
    margin-bottom: 40px;
}
.lines::after, .lines::before{
    content: "";
    position: absolute;
    margin: auto;
    height: 1px;
    background: #fff;
    width: 40%;
    top: 25%;
}
.lines::after{
    left: 0;
}
.lines::before{
    right: 0;
}
.portfolio-section .circle p{
    font-family: BrittanySignature, cursive;
    height: 100px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 11px;
    letter-spacing: 3px;
}
.portfolio-section-top{
    display: flex;
    justify-content: center;
}
.portfolio-section-top h4{
    color: #FFFFFF;
    font-family: DeriviaRegular, monospace;
    font-size: 60px;
    text-align: center;
    letter-spacing: 7px;
    font-weight: normal;
    margin-top: 30px;
}
.portfolio-section-film {
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 50px;
}
.portfolio-section-film .video2{
    position: sticky;
    height: 600px;
}
.view-more{
    font-family: ObjectivityMedium, cursive;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 4px;
}

/* FOURTH SECTION */

.divider{
    margin-bottom: 50px;
}
.center{

}
.center-image{
    width: 100%;
    height: 75%;
    object-fit: cover;
}
h5{
    font-family: DeriviaRegular, monospace;
    text-align: center;
    font-size: 70px;
    letter-spacing: 6px;
    font-weight: normal;
}

/* FIFTH SECTION */

.slideshow-section{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.videoo{
    position: sticky;
    padding-block: 2rem;

}
.slideshow-video{
    height: 75%;
    width: 75%;
    justify-self: center;
    text-align: center;
}
.slidetext{
    font-family: BrittanySignature, cursive;
    font-size: 30px;
}



